In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Student-Pass-Fail-Data.csv')

In [3]:
df

     Self_Study_Daily  Tution_Monthly  Pass_Or_Fail
0                   7              27             1
1                   2              43             0
2                   7              26             1
3                   8              29             1
4                   3              42             0
..                ...             ...           ...
995                 6              22             1
996                 9              30             1
997                 3              39             0
998                 7              25             1
999                 5              37             0

[1000 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Self_Study_Daily  1000 non-null   int64
 1   Tution_Monthly    1000 non-null   int64
 2   Pass_Or_Fail      1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [5]:
df.describe()

       Self_Study_Daily  Tution_Monthly  Pass_Or_Fail
count       1000.000000     1000.000000   1000.000000
mean           5.744000       31.230000      0.499000
std            2.121076        5.976355      0.500249
min            0.000000       20.000000      0.000000
25%            4.000000       26.000000      0.000000
50%            6.000000       30.000000      0.000000
75%            7.000000       36.000000      1.000000
max           10.000000       50.000000      1.000000

In [6]:
X=df.drop('Pass_Or_Fail',axis=1)

In [7]:
y=df['Pass_Or_Fail']

In [8]:
y

0      1
1      0
2      1
3      1
4      0
      ..
995    1
996    1
997    0
998    1
999    0
Name: Pass_Or_Fail, Length: 1000, dtype: int64

In [9]:
X

     Self_Study_Daily  Tution_Monthly
0                   7              27
1                   2              43
2                   7              26
3                   8              29
4                   3              42
..                ...             ...
995                 6              22
996                 9              30
997                 3              39
998                 7              25
999                 5              37

[1000 rows x 2 columns]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.8,random_state=0)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
LR=LogisticRegression()

In [14]:
LR.fit(x_train,y_train)

LogisticRegression()

In [15]:
LR.fit(x_test,y_test)

LogisticRegression()

In [16]:
pred=LR.predict(x_test)

In [17]:
print(y_test,pred)

993    0
859    1
298    1
553    0
672    0
      ..
117    0
464    1
25     0
110    0
149    1
Name: Pass_Or_Fail, Length: 800, dtype: int64 [0 1 1 0 0 0 0 1 1 1 1 0 0 1 1 0 1 0 1 0 0 1 0 0 1 1 1 1 0 0 0 1 1 0 0 1 0
 0 0 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 1 1 0 1 1 1
 1 1 0 1 0 1 0 0 1 1 1 1 1 0 1 1 0 0 1 1 1 0 1 0 1 1 0 0 1 1 1 0 1 0 1 0 1
 1 1 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 1 0 1 0 0 1 1 0 1 1 0 1 1 1 1 1 0 1 1 1
 1 1 1 0 0 1 1 0 0 0 0 0 0 1 1 1 1 1 1 0 1 0 0 1 0 0 0 0 1 1 0 1 0 0 1 0 1
 0 0 0 0 0 1 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0
 1 1 1 0 0 1 1 0 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 1 1 1 0 0
 1 1 1 1 0 1 1 1 0 0 1 1 1 0 0 1 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 1 0 0
 1 0 0 0 0 0 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1
 0 1 0 1 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1
 0 1 0 1 0 0 0 1 1 0 0 1 1 0 1 1 1 0 1 0 1 0 1 1 1 0 1 0 1 1 0 0 0 1 1 0 0
 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 1 0 1 1 1 0 0 1 0 1 1 0 1 0 1 0 1 0 1 1
 1 0 0 0 1 1 1 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 1
 1 1 0 0 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1 1 1 1 1 1 1 0 1 0 1 0 1 0 1 0 0
 1 0 0 0 1 0 1 0 1 0 1 0 1 0 0 0 1 1 1 1 1 1 1 0 0 0 1 1 1 1 0 1 0 1 0 1 0
 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 1 1 0 1 1 1 0 0 0 1 0 0 0 0 0 1 1 1 1 0 1
 0 0 1 1 1 1 1 1 0 1 1 0 1 0 1 0 0 0 0 1 0 0 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1
 0 1 0 0 0 1 0 1 0 0 1 0 1 1 1 1 1 0 0 0 0 1 1 1 0 1 1 1 1 0 0 1 0 1 1 1 1
 0 1 1 0 1 1 0 0 1 1 0 0 0 1 0 1 0 1 0 0 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0 1 1
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 1 0 1 1 0
 0 0 1 0 1 0 1 1 1 0 0 1 0 1 0 0 0 1 1 0 1 1 1 1 1 0 0 1 0 1 1 0 0 0 0 1 1
 1 1 0 0 1 0 1 0 1 0 0 1 1 1 1 0 1 0 0 1 0 0 1]

In [18]:
((246+240)/500)*100

97.2

In [22]:
Tution_Monthly=int(input("enter tution monthly hrs: "))
Self_Study_Daily=int(input("enter self study: "))
npa=np.array([Self_Study_Daily,Tution_Monthly]).reshape(1,-1)
res=LR.predict(npa)
if(res==0):
    print("student will pass")
else:
    print("student will fail")

enter tution monthly hrs: 0
enter self study: 0
student will fail

C:\Users\win8.1\.vim\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(